body{
  background:#f4f4f4;
}

/* Navbar */
.navbar{
  min-height: 33px !important;
  margin-bottom:0;
  border-radius:0;
}

.navbar-nav > li > a, .navbar-brand, .menu_desplegable {
    padding-top: 6px !important;
    height: 33px;
}

.navbar-default {
    background-color: #1a8c97;
    border-color: #15727b;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #15727b;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.menu_desplegable, .navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #15727b;
}
.menu_desplegable, .navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #15727b;
}
.menu_desplegable, .navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle {
  border-color: #c0392b;
}
.menu_desplegable, .navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

/* Custom */
.main-color-bg{
  background-color: #e74c3c !important;
  border-color: #c0392b !important;
  color:#ffffff !important;
}


.tooltipp {
    position: relative;
    display: inline-block;
   
}

.tooltipp .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltipp .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltipp:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.txttooltip {
text-align: justify;
padding: 5px;
}
/* Header */
#header{
  background:#333333;
  color:#ffffff;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#header .create{
  padding-top: 20px;
}

/* Breadcrumb */
.breadcrumb{
  background:#cccccc;
  color:#333333;
}

.breadcrumb a{
  color:#333333;
}

/* Progress Bars */
.progress-bar{
  background:#333333;
  color:#ffffff;
}

.dash-box{
  text-align:center;
}

#login{
  margin-top:30px;
}

/* Footer */
#footer{
    background-color: #1a8c97;
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 100%;


}


@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .menu_desplegable, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .menu_desplegable, .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

.icon_footer i {
    text-align: center;
    color: #ffffff;
    font-size: 2em;
    text-decoration: none;
    padding: 12px;
}

select {
 text-indent: 5px; 
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea, select {
 
    border-radius: 0;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-size: 0.875rem;
    font-weight: normal;
    margin: 0 0 0.5rem 0;
    padding: 0.5rem;
    height: 2.3125rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
    text-transform: uppercase;
}



label {
    font-size: 0.875rem;
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 0;
}

label {
    cursor: default;
}




.banner-stockt{
background-image:url(../img/stockt/banner_stockt.jpg);
width: 100%;
height:90px;
background-position: top center;
background-size:cover;
padding-bottom: 10px;
border-bottom: 4px solid #1a8c97;
margin-bottom: 10px;
}



.btn_buscar {
    width: 100%;
    padding: 10px 18px;
    background-color: #4CAF50;
}
.btn_cancelar {
    width: 100%;
    padding: 10px 18px;
    background-color: #f44336;
}

.destele{

    width: 50%;
    text-align: center;
    align-items: center;
    background-color: red;
    color: white;
    font-size: 1.2em;
    padding: 6px 12px;
    margin: 8px 0;
    border-radius: 70px 70px 70px 70px;
      display:block;
  margin-left: auto;
  margin-right: auto;
}


@media only screen and (max-width:768px){
.destele{
    border-radius: 0;
    }}

fieldset {
 border-color: rgba(142,142,142,0.25);
}
.menu_desplegable, i:hover {
background-color: #15727b;
}

fieldset.tabla-informacion{
    margin-top: 20px;
}


    
    table.width200,table.rwd_auto {
    width: 100%;
    }
        .width200 th,.rwd_auto th {
            background:#ccc;
            padding:5px;
            text-align:center;
        }
        .width200 td,.rwd_auto td {
            border-bottom:1px solid #ccc;padding:5px;
            text-align:center
        }
        .width200 tr:last-child td, .rwd_auto tr:last-child td{
            border:0
        }
        
    .rwd {
    display: block;
    overflow-x: auto;
    }
        .rwd table.rwd_auto {
            width:auto;
            min-width:100%
        }
            .rwd_auto th,.rwd_auto td {
                white-space: nowrap;
            }
            
    @media only screen and (max-width: 760px), (min-width: 768px) and (max-width: 1024px)  
    {
    
        table.width200, .width200 thead, .width200 th, .width200 td, .width200 tr { display: block; }
        
        .width200 thead tr { position: absolute;top: -9999px;left: -9999px; }
        
        .width200 tr { border: 1px solid #ccc; }
        
        .width200 td { border: none;border-bottom: 1px solid #ccc; position: relative;padding-left: 50%;text-align:left }
        
        .width200 td:before {  
            position: absolute;
             top: 6px; left: 6px;
              width: 45%; padding-right: 10px; white-space: nowrap;}
        
        .width200 td:nth-of-type(1):before { content: "Nombre"; }
        .width200 td:nth-of-type(2):before { content: "Apellidos"; }
        .width200 td:nth-of-type(3):before { content: "Cargo"; }
        .width200 td:nth-of-type(4):before { content: "Twitter"; }
        .width200 td:nth-of-type(5):before { content: "ID"; }
        
        .descarto {display:none;}
        .fontsize {font-size:10px}
    }
    
    /* Smartphones (portrait and landscape) ----------- */

    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-width: 768px) and (max-width: 1024px) 
    {
       
        .descarto {display:none;}
        .fontsize {font-size:10px}
    }
    
 div.registros {
    margin-top: 10px;
  }
div#paginador {
    float: right;

}

div#registros_totales {
    float:left;

}
.mostrar {
  animation: mostrar .5s ease-in 1 forwards;
}
.ocultar {
  animation: ocultar .5s ease-in 1 forwards;
}

button.borrar {
  background-color: transparent;
  border:none;
 
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px;
  text-indent: -9999px;
  display: block;
  height: 40px;
  width: 40px;
  cursor: pointer;
  margin: 0 auto;
  padding:10px;
}
td.borrar input {
  margin: 0 auto;
  display: block;
  cursor: pointer;
}
.activo {
  background-color: #b3d4fc!important;
}
td.pag_btn {
    cursor: pointer;
}

 .rwd_auto {
    border-collapse: collapse;
}
th{
    border: solid 2px #f2f2f2;
}
.far{
  color: grey;
}



/* Extra styles for the cancel button */
.btn-cancelar-login {
    width: auto;
    padding: 10px 18px;
    background-color: #13646b;
}

.btn-agregar {
  float:right;
}
.btn-modal {
  width: 100%;
}

label.label_informacion_status {
    cursor: default;

    border-radius: 0;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);

    font-size: 0.875rem;
    margin: 0 0 0.5rem 0;
    height: 2.43rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
    text-transform: uppercase;

    line-height: 2.9;
    padding: 2.95px 20px;
    float: left;
    width: 70%;

}


/* Center the image and position the cerrar-modal-login button */
.img-contenedor-login {
    text-align: right;
    margin: 0 12px;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.contenido-modal {
    padding:0 16px;
    margin-bottom: 10px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.contenido-modal-login {
    background-color: #fefefe;
    margin:auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    
}
@media only screen and (min-width:480px) {
.contenido-modal-login {
width:95%;

}
}


@media only screen and (min-width:768px) {
.contenido-modal-login {
width:80%;


}
}

@media only screen and (min-width:992px) {
.contenido-modal-login {

width:55%;
}
}
/* The cerrar-modal-login Button (x) */
.cerrar-modal-login {

    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.cerrar-modal-login:hover,
.cerrar-modal-login:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animacion {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .btn-cancelar-login {
       width: 100%;
    }
}


td.pag_num {
    background-color: #ccc;
    width: 10%;
    text-align: center;
}

label.label_modal_header {
 
    cursor: default;
    background-color: #1a8c97;
    font-size: 0.7em;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 2.9;
    padding: 2.95px 20px;
    float: left;
    width: 30%;
}

img.img_telefono {
    width: 100%;
    float: right;
}

.div-img {
  float: right;
}

@media only screen and (max-width:500px) {
label.label_modal_header, label.label_informacion_status {
width: 50%;
clear: both;
}


}



.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}





.menu_desplegable {
  background-color: transparent;
  border-style: none;
  box-shadow: none; 
  color: #ecf0f1;
  font-size: 14px;
  margin-bottom: 0;
}

.menu_desplegable:hover {
}

.modal-footer {
 background-color:#f1f1f1;
}



i.fas.fa-question-circle:hover {
   background-color:#f1f1f1;
   cursor: pointer;
}


i.fas.fa-eye {

color: #717171 !important;
}